.reshead{ 
  div{
    background-color: lighten(grey, 10%);
    color:white;
  }
}
.results{
  .row{
    border-bottom:1px solid gray
  }
}
.hazai {
  background-color: lighten(grey, 40%);
}
.vendeg {
  background-color: lighten(grey, 45%);
}