<template name="events">
  <div class="chat-room page container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center"><b>Üdvözöllek a 9. Szint Fogadó irodájában.<br>Kérlek tedd meg fogadásaidat vagy nézegess az eredmények között</b></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-unstyled">
        {{#each getMessages}}
          <li class="{{ownMessage userId}} {{applyDimEffect @index}}">
            <span class="username"><b>{{getDisplayName userId}}</b></span>
            <span class="message">{{message}}</span>
          </li>
        {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>