<template name="userDetails">
  <div class="user-details page container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome <b>{{currentUser.profile.displayName}}</b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Username:</th>
              <td>
                <input type="text" class="form-control" value="{{currentUser.username}}" disabled="disabled">
              </td>
            </tr>
            <tr>
              <th scope="row">Display name:</th>
              <td>
                <input type="text" class="form-control" name="displayName" value="{{currentUser.profile.displayName}}" placeholder="Display name">
              </td>
            </tr>
            <tr>
              <th scope="row">Email:</th>
              <td>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" value="{{currentUser.profile.email}}" placeholder="Email">
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Note:</th>
              <td>
                <textarea class="form-control" name="note" rows="3">{{currentUser.profile.note}}</textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>